{% extends 'base.html.twig' %}

{% block title %}Edit Furniture
{% endblock %}

{% block body %}

	<h1 class="text-center">Edit Furniture</h1>

	{{ include('furniture/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
